<div class="row">
    <div class="col-12">
        <div class="page-title-box">
             
            <h4 class="page-title">Estimating Deficit Power In Grid</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 m-auto">
        <table class="table table-dark mb-0">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Lane</th>
                    <th>Average</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Risa D. Pearson</td>
                    <td>336-508-2157</td>
                    <td>July 24, 1950</td>
                    
                </tr>
                <tr>
                    <td>Ann C. Thompson</td>
                    <td>646-473-2057</td>
                    <td>January 25, 1959</td>
                    
                </tr>
                <tr>
                    <td>Paul J. Friend</td>
                    <td>281-308-0793</td>
                    <td>September 1, 1939</td>
                    
                </tr>
                <tr>
                    <td>Sean C. Nguyen</td>
                    <td>269-714-6825</td>
                    <td>February 5, 1994</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
