<div class="row mt-4">

    <div class="col-md-4" *ngFor="let item of data">
        <div class="card ">
            <div class="card-body">
                
                <h3 class="fw-normal mt-0" title="Number of Customers">{{ item._id | titlecase}}</h3>
                <h5 class="mt-2 mb-2"> No of Users : {{ item.count }}</h5>
                <h5 class="mt-2 mb-2"> Average Consumption : {{ item.average | number}}</h5>
                
            </div> 
        </div> 
    </div> 
    
</div>
