
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Substation Details</h4>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="card">
        <div class="card-body">
            <table class="table table-sm table-centered mb-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>No of Generators</th>
                        <th>Place</th>
                        <th>Max Output Produced</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SUB101</td>
                        <td>2</td>
                        <td>Kollam</td>
                        <td>10000</td>
                    </tr>
                    <tr>
                        <td>SUB102</td>
                        <td>2</td>
                        <td>Kottarakara</td>
                        <td>10000</td>
                    </tr>
                     
                </tbody>
            </table>
        </div>
    </div>
</div>
