
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Substation Details</h4>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="card">
        <div class="card-body">
            <table class="table table-sm table-centered mb-0">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Limit</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Commercial</td>
                        <td>upto 20</td>
                        <td><span class="badge bg-primary"><i class="fa fa-inr"></i> 82</span></td>
                        
                    </tr>
                     
                </tbody>
            </table>
        </div>
    </div>
</div>
