<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-dark navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/user" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:
                            true}" id="topnav-dashboards" role="button">
                            <i class="fa fa-home me-1"></i>Home
                        </a>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link " routerLink="/user/request" routerLinkActive="active" id="topnav-pages" role="button">
                            <i class="fa fa-envelope me-1"></i>General Request
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="/user/ev-request" routerLinkActive="active" id="topnav-pages" role="button">
                            <i class="fa fa-envelope me-1"></i>EV Request
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="/user/bill" routerLinkActive="active" id="topnav-pages" role="button">
                            <i class="fa fa-money me-1"></i>Pay Bill
                        </a>
                    </li>
                    

                </ul>
            </div>
        </nav>
    </div>
</div>